.faq {
    background: var(--color-background-primary);
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    width: 100%;
    height: 100%;
}

.faq__panel {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 0;
    min-width: 0;
    overflow: hidden;
    position: relative;
    border-radius: 12px;
    align-self: stretch;
    flex-shrink: 0;
}

.faq__panel-header {
    background: var(--color-background-primary);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    flex-shrink: 0;
    width: 100%;
}

.faq__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex-shrink: 0;
    width: 100%;
}

.faq__title-text {
    flex: 1 0 0;
    font: var(--typography-h2);
    color: var(--color-foreground-primary);
    min-height: 0;
    min-width: 0;
    position: relative;
    flex-shrink: 0;
}

.faq__icon {
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
}

.faq__icon-svg {
    position: absolute;
    inset: 16.667%;
}

.faq__icon-path {
    position: absolute;
    inset: -6.25%;
}