.tab-container {
    width: 100%;
}

.tab-container__header {
    display: flex;
    border-bottom: 1px solid var(--color-stroke-horizontal-rule);
    margin-bottom: 24px;
}

.tab-container__content {
    min-height: 400px;
}